<div class="pre-connected">
<textarea class="temporary-respond" id="temporary-respond" style="width:65%;min-height:250px"></textarea>
<button id="reponse-rapide" style="display:block" class="btn btn-default">Réponse rapide</button>
</div>
